<div style="text-align: center;">
    <br>
    <h1>Disciplinas</h1>
    <p-table [columns]="colunas" [value]="tela" [paginator]="true" [rows]="7">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 150px;"> Ações</th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
            <tr>
                <td>
                    <a href="/disciplinas/editar/{{tela[i].id_disciplina}}">
                        <button class="btn">
                            <span class="material-icons" style="color: #007BFF">edit</span>
                        </button></a>
                    <button class="btn ">
                        <span class="material-icons" style="color: #DC3545" (click)="confirm(tela[i].nomeDisciplina,tela[i].id_disciplina)" >delete</span>
                  </button>
                </td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table> 
<br><br>
</div>
<div class="container-fluid" > 
    <a href="/disciplinas/nova"><button  type="button" class="btn btn-default navbar-btn"  style="background-color: #007BFF; color: aliceblue ;">Nova</button></a>
</div>
<div>

    <p-confirmDialog header="Deletar disciplina ?" icon="pi pi-exclamation-triangle"></p-confirmDialog>

</div>

