<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
<title>EQUANIME</title>
</head>
<body>
	<h1>Cadastro de usuário</h1>
	<form method="post"></form>
	<input type="text" value="" name="nome">
	<br>
	<input type="text" value="" name="cpf">
	<br>
	<input type="text" value="" name="email">
	<br>
	<input type="text" value="" name="cargaHoraria">
	<br>
	<input type="text" value="" name="telefone">
	<br>
	<input type="text" value="" name="cidade">
	<br>
	<input type="text" value="" name="senha">
	<br>
	<button type="submit">SALVAR</button>
</body>
</html>