.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.radio-button {
    margin: 5px;
}

.botoes {
    text-align: center;
}

.tela {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:2%;
    margin-right: 5px;
}

.maxtam{
    min-height: 64vh;
    max-height: 64vh;
    overflow: auto;
}
