
<div class="container col-lg-6 top-150"  width= "100%" >
    <mat-card class="card" style="width: 100%;">
        <img src="../../../assets/img/LogoEquânime.png" class="img-taman">
        <div style="text-align: justify;" >
            
            <br >
            <h2>Bem vindos  ao Equânime o sistema que controla a criação da grade horária, tendo como finalidade proporcionar 
                uma experiencia mais leve e dinânica no momento da tomada de decisões. </h2>
            <br>
        </div>
       
    </mat-card>

</div>