.top-150 {
  top: 150px;
}

.img-taman {
  height: 100px;
  width: 300px;
}

.card {
  background-color: #FFFFFF;
  text-align: center;
  display: inline-block;
}

.example-full-width {
  width: 100%;
}
