

<div style="text-align: center;">
    <br>
    <mat-tab-group animationDuration="0ms">
        <mat-tab  > <!-- Periodo 1 -->
            <ng-template mat-tab-label style="width: 100%;">
                <button class="btn btn-success" style="width: 100%;" (click)="teste();"> Período 1</button>
            </ng-template> 
            <div class="row" style="width: 100%;">
                <div class="col-sm-2"><strong>Hora</strong></div>
                <div class="col-sm-2"><strong>Segunda</strong></div>
                <div class="col-sm-2"><strong>Terça</strong></div>
                <div class="col-sm-2"><strong>Quarta</strong></div>
                <div class="col-sm-2"><strong>Quinta</strong></div>
                <div class="col-sm-2"><strong>Sexta</strong></div>
            </div>
           <app-montar-periodo></app-montar-periodo> 
            
        </mat-tab>
        
    </mat-tab-group>
    

</div>
