
<div style="text-align: center;">
    <br>
    <mat-tab-group animationDuration="0ms" *ngIf="isPeriodosCarregado()"><!--O cabeçalho é feito em forma de tabela ainda porque achei bonitinho e responsivo, ele serve para selecionar o período, ele só é carregado se os periodos estiverem devidamente carregados também-->
        <mat-tab  *ngFor="let periodo of periodos"> <!--um '*ngFor' é usado para gerar quantos botões ouver em períodos-->
            <ng-template  mat-tab-label style="width: 100%;">
                <button  class="btn btn-success" style="width: 100%;" (click)="selecionarPeriodo(periodo.id_periodo);">{{periodo.periodo_semestre}}</button><!--Cada botão possui o nome do periodo (variavel estabelecida no '*ngFor*') e chama a função 'selecionarPeriodo()" quando clicado-->
            </ng-template>    
        </mat-tab>   
    </mat-tab-group>
    <div class="row" style="width: 100%;" *ngIf="isDiasCarregado()"><!--Barra de título onde aparece os dias da semana, também não é carregada até que os dias tenham chegado do banco de dados-->
        <div class="col-sm-2"><strong>Hora</strong></div><!--Sempre aparecerá para indicar as horas a esquerda da tabela portanto é estática-->
        <div class="col-sm-2" *ngFor="let dia of diasDaSemana"><strong>{{dia.dia_semana}}</strong></div><!--Usado também um '*ngFor' para contemplar todos os dias-->
    </div>
    <br>
    <app-montar-periodo *ngIf="isDiasCarregado()" ></app-montar-periodo> <!--Corpo da tabela o componente montar período só é chamado também quando os dias estão carregados-->
</div>
<br>
  
<div style=" text-align: center">
    <button style="margin: 16px" class="btn btn-primary" (click)="baixarHorarioPdf()">Baixar em PDF</button>
    <button style="margin: 16px" class="btn btn-primary" >Baixar em .CSV</button>
    <button style="margin: 16px" class="btn btn-primary" >Baixar Relatorio de pedidos</button>
</div>
<br><br>
<!-- bootstrap para o funcionamento das warnings -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


<div class="row">
    <!--ALERTAS E AVISOS-->
    <div class="column">
        <div *ngFor="let alerta of alertas">
            <div *ngIf="alerta.tipo=='ALERTA'" class="alert alert-danger" role="alert">
                <strong>{{alerta.tipo}}</strong> {{alerta.mensagem}}
            </div>
            <div *ngIf="alerta.tipo=='AVISO'" class="alert alert-warning" role="alert">
                <strong>{{alerta.tipo}}</strong> {{alerta.mensagem}}
            </div>
        </div>
    </div>

    
    <!--PEDIDOS DE PROFESSOR-->
    <div class="column" *ngIf="isUsuariosCarregado()&& isObservacoesCarregado()">
        <div  *ngFor="let pedidoP of pedidosProfessor">
            <div class="panel panel-success" *ngIf="pedidoP.atendido" style="background-color:rgb(176, 252, 199);">
                <div class="panel-body " *ngIf="usuarioExists(pedidoP.id_professor)">
                {{getUsuariobyId(pedidoP.id_professor).nome}}
                </div>
                <div class="panel-footer" style="background-color:rgb(218, 253, 228);">{{pedidoP.observacao}}
                    <div class="wrapper">
                        <button type="button" class="btn btn-default btn-lg" (click)="tickPedidoProfessor(pedidoP,!pedidoP.atendido);">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:rgb(0, 255, 72);"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary" *ngIf="!pedidoP.atendido" style="background-color:rgb(176, 228, 252);">
                <div class="panel-body " *ngIf="usuarioExists(pedidoP.id_professor)">
                {{getUsuariobyId(pedidoP.id_professor).nome}}
                </div>
                <div class="panel-footer" >{{pedidoP.observacao}}
                    <div class="wrapper">
                        <button type="button" class="btn btn-default btn-lg" (click)="tickPedidoProfessor(pedidoP,!pedidoP.atendido);">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--PEDIDOS DE ALUNOS-->
        <div *ngIf="isPedidosCarregado()">
            <div  *ngFor="let pedidoA of pedidosAluno">
                <div class="panel panel-success" *ngIf="pedidoA.atendido" style="background-color:rgb(176, 252, 199);">
                    <div class="panel-body ">
                        Colegiado
                    </div>
                    <div class="panel-footer" style="background-color:rgb(218, 253, 228);">{{pedidoA.pedido}}
                        <div class="wrapper">
                            <button type="button" class="btn btn-default btn-lg" (click)="tickPedidoAluno(pedidoA,!pedidoA.atendido);">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:rgb(0, 255, 72);"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary" *ngIf="!pedidoA.atendido" style="background-color:rgb(176, 228, 252);">
                    <div class="panel-body " >
                        Colegiado
                    </div>
                    <div class="panel-footer" >{{pedidoA.pedido}}
                        <div class="wrapper">
                            <button type="button" class="btn btn-default btn-lg" (click)="tickPedidoAluno(pedidoA,!pedidoA.atendido);">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


