<h1 mat-dialog-title>Novo pedido</h1>
<div mat-dialog-content>
  <!--p>What's your favorite animal?</p-->
  <mat-form-field>
    <mat-label *ngIf="Pedido.valid||!Pedido.touched">Insira seu pedido aqui</mat-label>
    <mat-label *ngIf="!Pedido.valid&&Pedido.touched" style="color:red">Insira um pedido válido</mat-label>
    <input matInput [(ngModel)]="pedido" required  #Pedido="ngModel">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="salvar()" cdkFocusInitial>Salvar</button>
</div>