<div style="text-align: center;">
    <br>
    <h1>Pedidos</h1>
    <br><br><br>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <!-- Coluna de ação -->
        <ng-container matColumnDef="acao" >
          <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button class="btn " #tooltip="matTooltip" matTooltip="Excluir pedido">
              <span class="material-icons" style="color: rgb(84, 84, 85)" (click)="deletarPedido(element)">delete</span> 
            </button>
          </mat-cell>
        </ng-container>
      
        <!-- Coluna pedido -->
        <ng-container matColumnDef="pedido">
          <mat-header-cell *matHeaderCellDef> Pedido </mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.pedido}} </mat-cell>
        </ng-container>
         
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<br><br>
<div class="container-fluid" > 
    <button mat-flat-button color="primary"(click)="novoPedido()">Novo Pedido</button> 
</div>






   