<div style="text-align: center;" class="container">
    <br>
    <h1>Lista de usuarios</h1>

    <div style="text-align: right" >
        <a href="usuario/cadastrar" class="btn">
        <span class="material-icons" style="color: rgb(243, 10, 10)">add</span>
      </a>

      <a href="/usuario" class="btn">
        <span class="material-icons" style="color: rgb(17, 140, 255)">refresh</span>
      </a>

      <form method="post">
        <input type="text" id="buscar" name="buscar" class="form-control" placeholder="Nome" [(ngModel)] = "buscar">
        <span class="material-icons" style="color: rgb(30, 151, 6)" (click)= 'buscarUsuario(buscar)'>search</span>
      </form>
    </div>

    <p-table [columns]="cols" [value]="usuario" [paginator]="true" [rows]="20">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width: 150px;"> Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td>
                  <a href="usuario/alterar" class="btn">
                    <span class="material-icons" style="color: #007BFF" (click)= 'carregarUsuario(rowData)' >edit</span>
                  </a>

                  <button class="btn" >
                    <a href="usuario">
                      <span class="material-icons"  style="color: #DC3545" (click)= 'deletarUsuario(rowData)' >delete</span>
                    </a>
                  </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
