<div class="container col-lg-3 top-150">
    <mat-card class="card">
        <img src="../../../assets/img/LogoEquânime.png" class="img-taman">
        <strong>Recuperar senha!</strong>
        <mat-form-field class="example-full-width">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Ex. 98765432178">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput>
        </mat-form-field>
        <div>
            <button class="btn btn-success example-full-width">Recuperar Senhar</button>
        </div>
        <br>
        <div>
            <button class="btn btn-danger example-full-width" type="submit" name="action" (click)="cancelar()">Cancelar</button>
        </div>
    </mat-card>
</div>